@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #f41e92;
    --hover-color-primary: #7c0fd1;
    --color-primary: #7c0fd1;
    --background: #ffffff;
    --foreground: #171717;
    --primary-color: #f41e92;
    --active-color: #7c0fd1;
    --hover-color-primary: #7c0fd1;
    --color-primary: #7c0fd1;
    --bg-gradient-primary: linear-gradient(
      79.78deg,
      #a32dff -0.15%,
      #f41e92 87.57%
    );
    --w-logo: 17.3rem;
    --size-hd-top: 4.4rem;
    --size-hd-bot: 6.8rem;
    --size-hd: calc(var(--size-hd-top) + var(--size-hd-bot));
    --size-mn-mb: 26rem;
    --size-mn-ac: 26rem;
    --heightHD: 11.5rem;
    --sz-hd-menu: 4.8rem;
    --sz-hd-top: 4.4rem;
    --sz-hd-bot: 6.8rem;
    --sz-hd-foot: 4.8rem;
    --sz-hd: calc(var(--sz-hd-top) + var(--sz-hd-bot));
    --h-page: 950;
    --f-sz: calc(20 / var(--h-page) * 100vh);
    --rg: 0rem;
    --cg: 0rem;
    --sz-ic-mb: 4.4rem;
    --pd-wr-mb: 1.6rem;
    --w-mb: calc(var(--sz-ic-mb) + var(--pd-wr-mb) * 2);
    --sz-ic: var(--sz-ic-mb);
    --pd-wr: var(--pd-wr-mb);
    --h-btn: 5.2rem;
    --h-burger: 2rem;
    --w-sidebar: 300px;
    --f-sz-name: calc(14 / var(--h-page)* 100vh);
    --bg-color-modal: #ffffff;
    --bg-color-modal-notify: linear-gradient(180deg, #710EBE 32.63%, #F41E92 163.15%);
  }
  

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
