@font-face {
  font-family: "Inter";
  src: url("/template/assets/font/Inter/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/template/assets/font/Inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/template/assets/font/Inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/template/assets/font/Inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/template/assets/font/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UTM Bebas";
  src: url("/template/assets/font/UTM_Bebas/UTMBebas.eot");
  src: url("/template/assets/font/UTM_Bebas/UTMBebasd41d.eot?#iefix")
      format("embedded-opentype"),
    url("/template/assets/font/UTM_Bebas/UTMBebas.woff2") format("woff2"),
    url("/template/assets/font/UTM_Bebas/UTMBebas.woff") format("woff"),
    url("/template/assets/font/UTM_Bebas/UTMBebas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
div,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {  
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
div {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
@media (min-width: 2000px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 1580px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}
body {
  font-family: Inter, sans-serif;
  font-size: 1.8rem;
  color: #3a3a3a;
  line-height: 1.5;
  overflow: hidden auto;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
}
::-webkit-scrollbar {
  width: 7px;
}
@media (max-width: 1200px) {
  ::-webkit-scrollbar {
    width: 3px;
  }
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
select,
textarea {
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 0;
  border: none;
  outline: 0;
  resize: none;
  vertical-align: middle;
}
.container-lg .container {
  position: relative;
  width: 100%;
  max-width: 146.4rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
}
@media (max-width: 1580px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 1368px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 0.8rem;
  }
}
.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}
.layer-digital {
  background: linear-gradient(180deg, #580b94 58.7%, #a75ee0 100%);
}

.banner-left {
  width: calc(7* 100% / 12);
}

.banner-right {
  width: calc(4* 100% / 12);
  transition: all .45s ease-in-out;
  position: relative;
}


.banner-loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #7c0fd1;
  box-sizing: border-box;
  animation: shadowExpandX 1s linear infinite alternate;
}
@media screen and (max-width: 576px) {
  .banner-loader {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.banner-form-list {
  padding: 0 1.6rem 1.6rem 1.6rem;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .banner-form-list {
    padding: 0 0.8rem 0.8rem 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .banner-form-list {
    padding: 0;
  }
}
.banner-form-item {
  width: 33.33%;
}
@media screen and (max-width: 576px) {
  .banner-form-item {
    width: calc(100% / 3);
    padding: 0.8rem;
  }
}
.banner-form-item:nth-child(2) {
  position: relative;
}
.banner-form-item:nth-child(2)::after,
.banner-form-item:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.1rem;
  height: 35%;
  background: #c2c2c2;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 576px) {
  .banner-form-item:nth-child(2)::after,
  .banner-form-item:nth-child(2)::before {
    display: none;
  }
}
.banner-form-item:nth-child(2)::before {
  left: 0;
}
.banner-form-item:nth-child(2)::after {
  right: 0;
}
.banner-form-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem;
}
@media screen and (max-width: 1727px) {
  .banner-form-item-inner {
    padding: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .banner-form-item-inner {
    padding: 0.8rem 3.8rem;
  }
}
@media screen and (max-width: 576px) {
  .banner-form-item-inner {
    padding: 0;
  }
}
.banner-form-item-inner .icon {
  width: 2.4rem;
  height: auto;
}
@media screen and (max-width: 576px) {
  .banner-form-item-inner .icon {
    width: 2rem;
  }
}
.banner-form-item-inner .txt {
  text-align: center;
  font-size: 1.4rem;
}
@media screen and (max-width: 576px) {
  .banner-form-item-inner .txt {
    font-size: 1.2rem;
  }
  .banner-form-item-inner .txt br {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .banner-form-item-inner .txt {
    font-size: 1.1rem;
  }
}
.banner-form-wrap {
  background: #f41e92;
  border-radius: 1.2rem;
  padding: 0.4rem;
  width: calc(100% - 3.2rem);
  margin-left: auto;
  margin-right: auto;
}
.banner-form-bot {
  padding: 0 2.4rem 2.4rem 2.4rem;
}
@media screen and (max-width: 1200px) {
  .banner-form-bot {
    padding: 0 1.6rem 1.6rem 1.6rem;
  }
}


#hall_of_wall {
  background-color: #a75ee0;
}

.colleague-success {
  margin-top: 16rem;
}

.colleague-success .waves {
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.desc {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  background: radial-gradient(6869.79% 50.13% at 49.87% 42.57%,
      #ffffe0 0,
      #fad842 19%,
      #f7d33e 24%,
      #eec433 29%,
      #c88000 43%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: screen;
  height: auto;
}

.desc::after,
.desc::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 0.27rem;
  background: radial-gradient(circle, #fff 10%, gold 30%, #000 70%);
  background-blend-mode: screen;
  mix-blend-mode: screen;
}

.desc::after {
  top: 100%;
}

.desc::before {
  top: 0px;
}


#coming_soon {
  background-color: #580B94;
}


.custom-swiper2 .swiper-button-next,
.custom-swiper2 .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  margin-top: 0;
  z-index: 10;
}

.custom-swiper .swiper-button-next {
  right: -25px;
  /* background-image: url("/assets/images/home/icon_angle-left.png"); */
  z-index: 1000;
}

.custom-swiper .swiper-button-prev {
  left: -25px;
  /* Adjust the value as needed */
}

#faqs {
  background-color: #580b94;
  position: relative;
  z-index: 1;
}


.prmk{
  background: linear-gradient(180deg, #580b94 52.67%, #a75ee0 159.87%)
}

.prmk-progress-line {
  background: linear-gradient(180deg, #aa3028, #f04438 47.96%, #aa3028);
  height: 100%;
  width: 90%;
}

/* styles.css hoặc sử dụng styled-components */
.circle-border-container {
  position: relative;
  padding: 20px;
  display: inline-block;
  border: 5px solid #000; /* Đặt border cho phần tử */
  border-radius: 50%; /* Tạo border hình tròn */
  text-align: center;
  overflow: hidden; /* Ẩn phần ra ngoài border */
}


.pros {
  background-image: url(/assets/images/prmk-progress-bubble.png);
  background-repeat: repeat-x;
  background-size: cover;
  height: 100%;
  left: 0;
  width: 90%;
  
}


@media (min-width: 768px) {
  html {
    font-size: 9px;
  }
  
  p,
  span {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 10px;
  }
  
  p,
  span {
    font-size: 1.4rem;
  }
}

@media (min-width: 1580px) {
  html {
    font-size: 11px;
  }
  
  p,
  span {
    font-size: 1.6rem;
  }
}

@media (min-width: 2048px) {
  html {
    font-size: 12px;
  }
  
  p,
  span {
    font-size: 1.6rem;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 14px;
  }
  
  p,
  span {
    font-size: 1.8rem;
  }
}

@keyframes dotted-border-animation {
  0% {
    border-top-color: #8b1dd0;
    border-right-color: #8b1dd0;
    border-bottom-color: #8b1dd0;
    border-left-color: #8b1dd0;
  }
  25% {
    border-top-color: transparent;
    border-right-color: #8b1dd0;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #8b1dd0;
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #8b1dd0;
  }
  100% {
    border-top-color: #8b1dd0;
    border-right-color: #8b1dd0;
    border-bottom-color: #8b1dd0;
    border-left-color: #8b1dd0;
  }
}

.dotted-border-animation {
  animation: dotted-border-animation 3s infinite;
  border-style: dotted;
  border-width: 10px;
}

