.icon_plus {
    position: relative;

    .icon_plus_ngang {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 2px;
        background-color: var(--color-primary);
    }

    .icon_plus_doc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 20px;
        background-color: var(--color-primary);
    }
}