.collapseContainer{
    background-color: #fff;
    cursor: pointer;
    border-collapse: collapse;    
    border-bottom: 1px solid #e0e0e0;
}

.txt_title{
    font-size: var(--f-sz-name);
    font-weight: 600;
    max-width: 80%;
}